<div id="wrapper">
  <input type="text" id="connection" placeholder="Connection ID" /><br>
  <input type="text" id="message" placeholder="Enter Notification Here" /><br>
  <input type="button" id="send" data-role="button" value="Push" />
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="push.js"></script>
