<html>
<head>
  <title>HTML5 Hacks - Server Sent Events</title>
  <meta charset="utf-8" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js">
  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.js"> </script>
  <script type="text/javascript" src="jquery.notify.min.js"></script>
  <link rel="stylesheet" href="ui.notify.css" />
</head>
<body>
  <div id="container" style="display:none">
    <div id="basic-template">
      <a class="ui-notify-cross ui-notify-close" href="#">x</a>
      <h1>#{title}</h1>
      <p>#{text}</p>
    </div>
  </div>

  <script type="text/javascript" src="recv-es.js"></script>

</body>
</html>
